@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');


* {
    margin: 1em;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 0.85em;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
}


header {
margin-top: 84px;
margin-bottom: 128px;
padding-top: 30px;
padding-bottom: 54px;
border: 3px solid rgb(94, 94, 94);

}


main, footer, header {
width: 100%;
background-color: rgb(211, 210, 204);
border: 3px solid rgb(94, 94, 94);
}

footer {
background-color: rgb(0, 0, 0);
height: 200px;
}


p,a {
    font-size: 1em;
}


h1, h2 {
    color: #2c313d;
    text-align: center;
    font-size: 3em;
    text-decoration: solid;
    line-height: 64px;
    font-family: "Spectral SC", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h2 {
   font-size: 1.8em; 
   text-align: left;
}



section {
    width: 83.33%;
    margin:auto;
    margin-bottom: 5em;

}

section img {
    width: 30%;
}

section p {
    width: 40%;
    font-size: 1.5em;
    text-align: justify;
   }

#second section {
    width: 83.33%;
}

#second section img {
width: 83.33%;
margin: auto;
display: block;
}


#third section h2 {
    text-align: right;
}

#third section p {
 width: 100px;
}

div {
    width: 83.33%;
    margin: 0 auto;
}

div div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


p {
    font-weight: 300;
    font-size: 2em;
}

h2, p {
margin-bottom: 0.5em;
}


header img {
    width: 83.33%;
    margin: auto;
    display: block;
}


a {
font-family: "Roboto", sans-serif;
font-weight: 700;
text-decoration: underline;
color: #2c313d;
border: 3px solid;
padding: 0.5em 1em;
}

a:hover {
border-style: dashed;
background-color: #4c4c4c;
color: rgb(181, 181, 181);

}



@media (max-width: 864px) {
    


body {
    font-size: 12px;}

}